@font-face {
    font-family: 'SoDo Sans';
    src: local('SoDo Sans Regular'), local('SoDo-Sans-Regular'),
        url('SoDoSans-Regular.woff2') format('woff2'),
        url('SoDoSans-Regular.woff') format('woff'),
        url('SoDoSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
.nav-item {
    padding: 1rem 1rem 0;
    /* font-family: 'SoDoSans Bold'; */
    font-family: "SoDoSans", sans-serif;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    letter-spacing: 0.8px;
    font-weight: bolder;
}

#map { 
    height: 600px;
}

.navbar {
    height: 91px;
    /* margin-left: 15px; */
    padding-bottom: 0;
}

.navbar-brand img{
    margin-left: 15px;
}

.nav-link i{
    color: green;
    background: none;
}

.collapse{
    padding-top: 13px;
    margin-top: 5px;
}

.head {
    height: 10px;
    background-color: #007042;
}

.link {
    /* padding: 3rem; */
    color: black;
    text-decoration: none;
    display: inline !important;
}

.list-footer-menu li{
    padding-bottom: 10px;
    font-size: 0.9rem;

}

.footer-menu-tittle .link{
    padding-bottom: 30px;
}

a {
    text-decoration: none;
}


.list-footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 20px 5px 0px 15px;
}

#stb {
    /* height: 22.240cm; */
    width: fit-content;
    /* height: 12.735cm; */
}

.container-fluid-2 {
    /*background-color:grey;*/
    /*margin:100px auto;*/
    height: 120px;
    width: 100%;
    /*text-align : center;*/
}

.io {
    /*padding:10rem;*/
    list-style: none;
    padding-left: 20px;
}

.logo {
    padding: 40px 20px 40px 0px;
    display: inline-flex;
}

body {
    /*font-family: "Monserrat-Black"; */
    /* font-family: 'Sono', sans-serif; */
    font-family: "SoDoSans", sans-serif;

}

.fo {
    /*padding:10rem;*/
    list-style: none;
    display: inline-flex;
    padding-left: 15px;
}

.link2 {
    padding: 20px 7px 20px 5px;
    color: black;
    text-decoration: none;
    font-size: 14px;
}

.container-fluid-3 {
    margin: 70px auto 30px;
}

.container-fluid input{
    background: #edeeee;
    border: 2px solid #edeeee;
}

.container-fluid button {
    margin-top: 13px;
}

.container-fluid hr{
    border-color: grey;
	border-style: none;
	border-top-style: dotted;
	border-width: 1px;
	width: 100%;
	margin-top: 6px;
}

.container-fluid .colom p{
    font-size: 14px;

}

form label{
    display: inline;
    /* margin-left: 110px; */
}

.reg {
    margin-top: 1rem;
    margin-bottom: 0;
    font-weight: bold;
}

.reg::after{
    content: "*";
    color: red;
    font-size: 13px;
}

.container-4 {
    font-size: 12px;
    margin-left: 20px;
}

.container-fluid-5{
    margin-left: 20px;
}

.row img{
    width: 300px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media (min-width: 1025px) 
footer .footer-menu {
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}



@media (min-widht: 1200px) .container-xl,
.container-lg,
.container-md,
.container-sm,
.container {
    max-width: 1340px;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
    padding-top: 30px;
}

.mb-md-0 {
    margin-bottom: 0 !important;
}

.dont-collapse-sm{
    display: block !important;
    height: auto !important;
    visibility: visible !important;
}

.text-start {
    text-align: left !important;
}

.star {
    font-size: 25px;
    transform: rotate(270deg);
    text-align: right;
    padding-top: 800px;
    padding-left: 15px;
    padding-right: 9px;
    width: 0px;
    height: fit-content;
    display: block;
}

.foot {
    height: 10px;
}

div{
    display: block;
}